@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.scroll-container::-webkit-scrollbar {
    height: 8px; /* Adjust the height of the scrollbar */
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #00002b; /* Customize the color and transparency */
    border-radius: 4px; /* Add rounded corners */
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background: transparent; /* Make the track transparent */
  }
  
  .scroll-container {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #00002b transparent; /* For Firefox */
  }
  
